* {
	margin: 0.2%;
}

img {
	width: 150px;
	opacity: 0.8;
}

footer {
	text-align: center;
}

.container {
	display: inline-flex;
	width: 60%;
}

body {
	background-color: #F8F2E5;
	color: #6e6758;
	font-family: 'Mali';
	text-align: center;
}

.game-info {
	animation: pulse;
	animation-duration: 2s;
}

a {
	color: #B5D69F;
}

h1 {
	background-color: rgb(181, 214, 159, 0.5);
	padding: 2px;
	display: inline-block;
	border-radius: 60px;
	font-size: 29px;
}

tr {
  border-bottom: 1px solid #ddd;
  background-color: rgb(255,255,255,0.3);
}

tr:hover {
  background-color: rgb(255,255,255,0.6);
}

.text-1 {
	background-color: #B5D69F; color: #F8F2E5;
}

table {
    margin: 0 auto;
    width: 100%;
}

tbody tr {
    text-align: left;
}

tbody th, td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.foot {
	color: rgb(110, 103, 88, 0.5);
	letter-spacing: 15px;
}